/*--------------------------------*/
/*Sitewide*/
/*--------------------------------*/

body {
    background: linear-gradient(270deg, #ff3f3f, #ffab3f, #feff3f, #3fff43, #3f93ff, #c73fff, #ff3f9e);
    font-family: 'Pacifico', cursive;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #999999;
}

a:active {
    text-decoration: none;
    color: #000000;
}

/*--------------------------------*/
/*Navbar*/
/*--------------------------------*/
#navtitle {
    vertical-align: top;
    font-size: 36px;

}

/*--------------------------------*/
/*Maps*/
/*--------------------------------*/

#single-map {
    width: 1024px;
    height: 768px;
}

a#infowindow {
    color:#CE6EAE;
}

.window-content {
    width: 150px;
}