{% extends 'base.html' %}
{% block head %}

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/mapstyles.js"></script>

    <script src="/static/business.js"></script>

{% endblock %}

{% block body %}


<h1>{{ business_name}}</h1>
<br>
<h4>{{ address }}</h4>
<h4>{{ phone }}</h4>

<p {{ healthynails }}><a href="http://www.sfenvironment.org/healthy-nail-salon-program" target="_blank"><img src="/static/img/healthynailslogo.png" width=166px></a></p>

<br>
<h3><a href="http://www.yelp.com/biz/{{ yelp_id }}" target="_blank">{{ business_name}} on Yelp</a><br></h3>

<br>
<h4>


	<p><h3>Recent photos of <a href="https://instagram.com/explore/locations/{{ instalocation }}" target="_blank">{{ instaname }} on Instagram:</h3></a></p>
</h4>
	{% for pic in recent_photos %}
		<a href="{{ pic[1] }}" target="_blank">
		<img src="{{ pic[0] }}" width=150px padding=50pm>
		</a>

	{% endfor %}


<br>
<br>
<h4><b>Hours:</b></h4>
<br>
<p>Monday: {{openhours['Monday']}}</p>
<p>Tuesday: {{openhours['Tuesday']}}</p>
<p>Wednesday: {{openhours['Wednesday']}}</p>
<p>Thursday: {{openhours['Thursday']}}</p>
<p>Friday: {{openhours['Friday']}}</p>
<p>Saturday: {{openhours['Saturday']}}</p>
<p>Sunday: {{openhours['Sunday']}}</p>

<br>

<div id="single-map" align="center"></div>
<p class="yelpID" id="{{ yelp_id }}" hidden></p>
</p>








{% endblock %}
