{% extends 'base.html' %}

{% block body %}


<h1>{{ business_name}}</h1>
<br>
<h2>{{ address }}</h2>
<h2>{{ phone }}</h2>

<br>
<h1><a href="http://www.yelp.com/biz/{{ yelp_id }}" target="_blank">{{ business_name}} on Yelp</a><br></h1>

<br>
<h2>


	<p>Recent photos of <a href="https://instagram.com/explore/locations/{{ instalocation }}" target="_blank">{{ instaname }} on Instagram:</a></p>
</h2>
	{% for pic in recent_photos %}
		<a href="{{ pic[1] }}" target="_blank">
		<img src="{{ pic[0] }}" width=250px padding=50pm>
		</a>

	{% endfor %}


<br>
<br>
<h1><b>Hours:</b></h1>
<br>
<h1>Monday: {{openhours['Monday']}}</h1>
<h1>Tuesday: {{openhours['Tuesday']}}</h1>
<h1>Wednesday: {{openhours['Wednesday']}}</h1>
<h1>Thursday: {{openhours['Thursday']}}</h1>
<h1>Friday: {{openhours['Friday']}}</h1>
<h1>Saturday: {{openhours['Saturday']}}</h1>
<h1>Sunday: {{openhours['Sunday']}}</h1>


{% endblock %}

