{% extends 'base.html' %}
{% block head %}

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/static/mapstyles.js"></script>

    <script src="/static/business.js"></script>

     
 



  {% endblock %}




{% block body %}


<!-- <span id="single-map" align="center"></span> -->
<p class="yelpID" id="{{ yelp_id }}" hidden></p>
</p>
<div id="container" class="container-fluid">

<div class="row">

	<h1 align="center">

	{{ business_name}}

	{% if open_now %}
		<b>:  {{ open_now }}</b>
	{% endif %}
	</h1>

	<h4 align="center">{{ address }}</h4>
	<h4 align="center">{{ phone }}</h4>
	<br>
</div>

<div class="row">





	<div class="col-xs-3">




		<h3>Hours:</h3>
		<br>
		<p>Monday: {{openhours['Monday']}}</p>
		<p>Tuesday: {{openhours['Tuesday']}}</p>
		<p>Wednesday: {{openhours['Wednesday']}}</p>
		<p>Thursday: {{openhours['Thursday']}}</p>
		<p>Friday: {{openhours['Friday']}}</p>
		<p>Saturday: {{openhours['Saturday']}}</p>
		<p>Sunday: {{openhours['Sunday']}}</p>
		<br>

				<p {{ healthynails }} align=center>
			<a href="http://www.sfenvironment.org/healthy-nail-salon-program" target="_blank"><img src="/static/img/healthynailslogo.png" height=99px alt="Yelp Logo"></a></p>

		<br>


		
	</div>

	<div class="col-xs-9">
		<p  {{ instagrams }}><h3  {{ instagrams }}><a href="https://instagram.com/explore/locations/{{ instalocation }}" target="_blank">
				Recent photos of {{ instaname }} on Instagram:</h3></a></p>
		<p padding-bottom:100px>
		{% for pic in recent_photos %}
			<a href="{{ pic[1] }}" target="_blank"  {{ instagrams }}>
			<img src="{{ pic[0] }}" width=150px padding=50pm  {{ instagrams }}>
			</a>
		{% endfor %}
		</p>

		<br>


		<h3><a href="http://www.yelp.com/biz/{{ yelp_id }}" target="_blank">{{ business_name}} reviews on <img src="/static/img/yelplogo.png" height=33px margin-bottom:99px>
		</a><br></h3>
		



	</div>


</div>











{% endblock %}
